body {
    width: 800px;
    margin: 0 auto;
    font: 12pt monospace;
    color: #0f0;
    background-color: #000;
}

#container {
    width: 100%;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 100px;
    background-color: #030;
}
#site-title {
    padding: 12px 0 0 12px;
    font-size: 42px;
    font-style: italic;
    font-weight: bold;
    color: #0f0;
}

nav {
    width: 100%;
    height: 60px;
    line-height: 30px;
    background-color: #030;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li {
    display: block;
    float: left;
    width: 25%;
    padding: 0;
}
nav li a {
    display: block;
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #0f0;
}
nav li a:hover {
    background: #060;
    color: #0f0;
}

#subnav {
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #030;
}
#subnav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#subnav li {
    float: left;
    width: 25%;
}
#subnav li a {
    display: block;
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #0f0;
}
#subnav li a:hover {
    background-color: #060;
    color: #0f0;
}

#wrapper {
    position: relative;
    width: 100%;
    min-height: 400px;
}

#show_guide {
    display: block;
    position: absolute;
    left: 750px;
    top: 10px;
    margin: 5px;
    padding: 5px;
    border: dotted 1px #00ff00;
    background-color: #030;
    color: #0f0;
    text-align: center;
    cursor: pointer;
}
#div_guide {
    display: none;
    position: absolute;
    left: 200px;
    top: 30px;
    width: 560px;
    margin: 5px;
    padding: 10px;
    border: dotted 1px #00ff00;
    background-color: #030;
}

#div_content, #div_process {
    float: left;
    margin: 5px;
}
#div_numbers, #div_field {
    float: left;
    width: 48%;
    margin: 5px;
}

#div_process label {
    display: inline-block;
    width: 150px;
    text-align: right;
}
textarea, input {
    margin: 3px;
    padding: 3px;
    outline: none !important;
    border: solid 1px #00ff00;
    font: 12pt monospace;
    color: #0f0;
    background: #000;
}
button {
    margin: 3px;
    padding: 3px 12px;
    border: solid 1px #00ff00;
    font: 12pt monospace;
    color: #0f0;
    background: #000;
    cursor: pointer;
}
button.number, #clear, #backspace {
    width: 60px;
}
button.activebase, button:hover {
    background: #060;
}
button:disabled {
    border-color: #030;
    background: #000;
    color: #030;
    cursor: default;
}

table {
    margin: 0 auto;
    border: 0;
}
td {
    border: 0;
    text-align: center;
}

footer{
    width: 100%;
    height: 40px;
    line-height: 40px;
    clear: both;
    text-align: center;
    background-color: #030;
}
